<img class="img-fluid w-100" src="assets/images/ink-page-top.png">
<div class="row">
    <div>
        <h4 class="mt-3">INK</h4>
        <div>
            <table class="table caption-top">
                <caption>Binder</caption>
                <tbody>
                    <tr>
                        <td class="col-3">丙烯酸樹脂</td>
                        <td class="col-6">固態顆粒/苯溶型/酯溶型/醇溶型</td>
                        <td class="col-3">Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption>Additives</caption>
                <tbody>
                    <tr>
                        <td class="col-3">耐刮、織紋</td>
                        <td class="col-6">微粉蠟</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">消光</td>
                        <td>消光粉 Acematt</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>微粉蠟</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>防沉</td>
                        <td>二氧化矽 Aerosil</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td rowspan="6">密著促進劑</td>
                        <td>密著樹脂 Addbond</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>醛酮樹脂 Variplus</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>高分子型密著樹脂</td>
                        <td>AT Tech</td>
                    </tr>
                    <tr>
                        <td>氯化PP/苯溶/酯溶</td>
                        <td>AT Tech</td>
                    </tr>
                    <tr>
                        <td>矽烷偶合劑 Dynasylan</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>鋯酸酯/鈦酸酯 Tyzor</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>催化劑</td>
                        <td>鋯酸酯/鈦酸酯 Tyzor</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>