<div class="row">
    <div class="col-6 img-vertical-center">
        <img class="w-100" src="assets/images/dorf-ketal.png">
    </div>
    <div class="col-6">
        <h5>Tyzor™ Unilink™ Clearlink™</h5>
        <p>Dorf Ketal Chemicals is a global leader in the development, commercialization, marketing and application of specialty engineered chemistries for the refining and petrochemical industries. Founded in 1992, Dorf Ketal has demonstrated product and service excellence in the largest refineries and petrochemical plants in the world.</p>
    </div>
</div>
<div class="row">
    <div class="col-6 img-vertical-center">
        <img class="w-100" src="assets/images/micro-powders.png">
    </div>
    <div class="col-6">
        <h5>High Performance WAX Additives</h5>
        <p>Micro Powders was founded in 1971 as a supplier of micronized wax powders to the printing inks and coatings industry. 50 years later, our diverse portfolio of novel additive powders gives formulators the tools they need to enhance performance in paints, coatings, inks, personal care products, cosmetics, pharmaceuticals and agrochemicals. Our products enrich your everyday life, from the wall paint that is easier for you to clean, to the natural shower scrubs that cleanse and refresh your skin.</p>
    </div>
</div>