<img class="img-fluid w-100" src="assets/images/lubricant-page-top.png">
<div class="row">
    <div>
        <h4 class="mt-3">LUBRICANT</h4>
        <div>
            <table class="table caption-top">
                <caption>Additives</caption>
                <tbody>
                    <tr>
                        <td class="col-3">消泡</td>
                        <td class="col-6">Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>防鏽劑</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>抗氧化劑</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>金屬安定劑</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>