<img class="img-fluid w-100" src="assets/images/lubricant-page-top.png">
<div class="row">
    <div>
        <h4 class="mt-3 blue-purple">{{ "APPLICATIONS.5.NAME" | translate }}</h4>
        <div>
            <table class="table caption-top">
                <caption class="red-purple">{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ANTIFOAM_DEFOAMER" | translate }}</td>
                        <td class="col-6">Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>{{ "RUST_INHIBITOR" | translate }}</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>{{ "ANTIOXIDANT" | translate }}</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>{{ "METAL_DEACTIVATOR" | translate }}</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>