<img class="img-fluid w-100" src="assets/images/industry-coating-page-top.png">

<div class="row">
    <div>
        <!-- industry coating -->
        <h4 class="mt-3 blue-purple" data-bs-toggle="collapse" data-bs-target="#div-industry-coating">{{ 'COATING.INDUSTRY_COATING' | translate }}<i class="bi bi-caret-down-fill"></i></h4>
        
        <div class="collapse" id="div-industry-coating">
            <table class="table caption-top">
                <caption class="red-purple">{{ 'BINDER' | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ 'ROSIN_RESINS' | translate }}</td>
                        <td class="col-6">{{ 'ALCOHOL_AROMATIC_SOLUBLE' | translate }}</td>
                        <td class="col-3">{{ 'JIXIN' | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'ACRYLIC_RESINS' | translate }}</td>
                        <td>{{ 'BEADS_POWDERS_ALCOHOL_ESTER_AROMATIC_SOLUBLE' | translate }}</td>
                        <td>Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ANTI_SCRATCH_TEXTURE" | translate }}</td>
                        <td class="col-6">{{ "MICRONIZED_WAX" | translate }}</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ "MATTING" | translate }}</td>
                        <td>{{ "MATTING_AGENT_ACEMATT" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "MICRONIZED_WAX" | translate }}</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>{{ "ANTI_SETTING" | translate }}</td>
                        <td>{{ "FUMED_SILICA_AEROSIL" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td rowspan="6">{{ "ADHESION_PROMOTER" | translate }}</td>
                        <td>{{ "POLYESTER_RESINS_ADDBOND" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "KETONE_RESINS_VARIPLUS" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "POLYMERIC_COMPOUND" | translate }}</td>
                        <td>AT Tech</td>
                    </tr>
                    <tr>
                        <td>{{ "TITANATE_TYZOR" | translate }}</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>{{ "ZIRCONATE_TYZOR" | translate }}</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>{{ "SILANE_DYNASYLAN" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "CROSSLINKER" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "DIAMINE" | translate }}</td>
                        <td class="col-6">{{ "CHAIN_EXTENDER_CLEARLINK_UNILINK" | translate }}</td>
                        <td class="col-3">Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td class="col-3">{{ "CROSSLINKER_2" | translate }}</td>
                        <td class="col-6">{{ "NBMA_CLEARLINK" | translate }}</td>
                        <td class="col-3">Dorf-Ketal</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- wood coating -->
        <hr class="my-0 red-purple">
        <h4 class="mt-1 blue-purple" data-bs-toggle="collapse" data-bs-target="#div-wood-coating">{{ 'COATING.WOOD_COATING' | translate }}<i class="bi bi-caret-down-fill"></i></h4>
        <div class="collapse" id="div-wood-coating">
            <table class="table caption-top">
                <caption class="red-purple">{{ 'BINDER' | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ROSIN_RESINS" | translate }}</td>
                        <td class="col-6">{{ "ALCOHOL_AROMATIC_SOLUBLE" | translate }}</td>
                        <td class="col-3">{{ "JIXIN" | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ "ACRYLIC_RESINS" | translate }}</td>
                        <td>{{ "BEADS_POWDERS_ALCOHOL_ESTER_AROMATIC_SOLUBLE" | translate }}</td>
                        <td>Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ANTI_SCRATCH_TEXTURE" | translate }}</td>
                        <td class="col-6">{{ "MICRONIZED_WAX" | translate }}</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ "MATTING" | translate }}</td>
                        <td>{{ "MATTING_AGENT_ACEMATT" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "MICRONIZED_WAX" | translate }}</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>{{ "ANTI_SETTING" | translate }}</td>
                        <td>{{ "FUMED_SILICA_AEROSIL" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td rowspan="6">{{ "ADHESION_PROMOTER" | translate }}</td>
                        <td>{{ "POLYESTER_RESINS_ADDBOND" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "KETONE_RESINS_VARIPLUS" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- power coating -->
        <hr class="my-0 red-purple">
        <h4 class="mt-1 blue-purple" data-bs-toggle="collapse" data-bs-target="#div-power-coating">{{ 'COATING.POWDER_COATING' | translate }}<i class="bi bi-caret-down-fill"></i></h4>
        <div class="collapse" id="div-power-coating">
            <table class="table caption-top">
                <caption class="red-purple">{{ 'BINDER' | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ 'ACRYLIC_RESINS' | translate }}</td>
                        <td class="col-6">{{ 'BEADS_POWDERS' | translate }}</td>
                        <td class="col-3">Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ANTI_SCRATCH_ANTI_SLIP" | translate }}</td>
                        <td class="col-6">{{ "MICRONIZED_WAX" | translate }}</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ "TEXTURE" | translate }}</td>
                        <td>{{ "FLUORO_POLYMER" | translate }}</td>
                        <td>{{ "JTW" | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ "MICRONIZED_WAX" | translate }}</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ "MATTING" | translate }}</td>
                        <td>{{ "POLYMERIC_MATTING_AGENT" | translate }}</td>
                        <td>{{ "JTW" | translate }}</td>
                    </tr>
                    <tr>
                        <td>{{ "MICRONIZED_WAX" | translate }}</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>{{ "ANTI_CAKING" | translate }}</td>
                        <td>{{ "FUMED_SILICA_AEROSIL" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td rowspan="3">{{ "ADHESION_PROMOTER" | translate }}</td>
                        <td>{{ "KETONE_RESINS_VARIPLUS" | translate}}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "POLYMERIC_COMPOUND" | translate }}</td>
                        <td>AT Tech</td>
                    </tr>
                    <tr>
                        <td>{{ "POWDER_FORM_COUPLING_AGENT" | translate }}</td>
                        <td>AT Tech</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- plastic coating -->
        <hr class="my-0 red-purple">
        <h4 class="mt-1 blue-purple" data-bs-toggle="collapse" data-bs-target="#div-plastic-coating">{{ 'COATING.PLASTIC_COATING' | translate }}<i class="bi bi-caret-down-fill"></i></h4>
        <div class="collapse" id="div-plastic-coating">
            <table class="table caption-top">
                <caption class="red-purple">{{ 'BINDER' | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ACRYLIC_RESINS" | translate }}</td>
                        <td class="col-6">{{ "BEADS_POWDERS_ALCOHOL_ESTER_AROMATIC_SOLUBLE" | translate }}</td>
                        <td class="col-3">Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ANTI_SCRATCH_TEXTURE" | translate }}</td>
                        <td class="col-6">{{ "MICRONIZED_WAX" | translate }}</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ "MATTING" | translate }}</td>
                        <td>{{ "MATTING_AGENT_ACEMATT" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "MICRONIZED_WAX" | translate }}</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>{{ "ANTI_SETTING" | translate }}</td>
                        <td>{{ "FUMED_SILICA_AEROSIL" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td rowspan="6">{{ "ADHESION_PROMOTER" | translate }}</td>
                        <td>{{ "POLYESTER_RESINS_ADDBOND" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "KETONE_RESINS_VARIPLUS" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "POLYMERIC_COMPOUND" | translate }}</td>
                        <td>AT Tech</td>
                    </tr>
                    <tr>
                        <td>{{ "CHLORINATED_POLYOLEFIN" | translate }}</td>
                        <td>AT Tech</td>
                    </tr>
                    <tr>
                        <td>{{ "SILANE_DYNASYLAN" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- floor coating -->
        <hr class="my-0 red-purple">
        <h4 class="mt-1 blue-purple" data-bs-toggle="collapse" data-bs-target="#div-floor-coating">{{ 'COATING.FLOOR_COATING' | translate }}<i class="bi bi-caret-down-fill"></i></h4>
        <div class="collapse" id="div-floor-coating">
            <table class="table caption-top">
                <caption class="red-purple">{{ 'BINDER' | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ROSIN_RESINS" | translate }}</td>
                        <td class="col-6">{{ "ALCOHOL_AROMATIC_SOLUBLE" | translate }}</td>
                        <td class="col-3">{{ "JIXIN" | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{ "ACRYLIC_RESINS" | translate }}</td>
                        <td>{{ "BEADS_POWDERS_ALCOHOL_ESTER_AROMATIC_SOLUBLE" | translate }}</td>
                        <td>Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "ANTI_SCRATCH_TEXTURE_2" | translate }}</td>
                        <td class="col-6">{{ "MICRONIZED_WAX" | translate }}</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ "MATTING" | translate }}</td>
                        <td>{{ "MATTING_AGENT_ACEMATT" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "MICRONIZED_WAX" | translate }}</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>{{ "ANTI_SETTING" | translate }}</td>
                        <td>{{ "FUMED_SILICA_AEROSIL" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>{{ "ADHESION_PROMOTER" | translate }}</td>
                        <td>{{ "SILANE_DYNASYLAN" | translate }}</td>
                        <td>Evonik</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption class="red-purple">{{ "CROSSLINKER" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">{{ "DIAMINE" | translate }}</td>
                        <td class="col-6">{{ "CHAIN_EXTENDER_CLEARLINK_UNILINK" | translate }}</td>
                        <td class="col-3">Dorf-Ketal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>