<div class="row">
    <img class="img-fluid col-6" src="assets/images/company.png">
    <table class="col-6">
        <tbody>
            <tr>
                <td class="col-3"><img src="assets/images/icon-email.png" class="icon me-1">E-Mail:</td>
                <td class="col-9">atservice@attech.com.tw</td>
            </tr>
            <tr>
                <td><img src="assets/images/icon-phone.png" class="icon me-1">Tel:</td>
                <td>+886-4-2239-8056</td>
            </tr>
            <tr>
                <td><img src="assets/images/icon-fax.png" class="icon me-1">Fax:</td>
                <td>+886-4-2239-5165</td>
            </tr>
            <tr>
                <td><img src="assets/images/icon-address.png" class="icon">Address:</td>
                <td>{{ 'CONTACT.ADDRESS' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>

