<div class="row">
    <div class="col-lg-2 col-3"><img src="assets/images/icon-email.png" class="icon me-1">E-Mail:</div>
    <div class="col">atservice@attech.com.tw</div>
</div>
<div class="row">
    <div class="col-lg-2 col-3"><img src="assets/images/icon-phone.png" class="icon me-1">Tel:</div>
    <div class="col">+886-4-2239-8056</div>
</div>
<div class="row">
    <div class="col-lg-2 col-3"><img src="assets/images/icon-fax.png" class="icon me-1">Fax:</div>
    <div class="col">+886-4-2239-5165</div>
</div>
<div class="row">
    <div class="col-lg-2 col-3"><img src="assets/images/icon-address.png" class="icon me-1">Address:</div>
    <div class="col">{{ 'CONTACT.ADDRESS' | translate }}</div>
</div>

