<div class="my-2" style="vertical-align: middle">
    <img src="assets/images/icon-email.png" class="float-start me-1 icon">
    <span>E-Mail: atservice@attech.com.tw</span>
</div>
<div class="my-2" style="vertical-align: middle">
    <img src="assets/images/icon-phone.png" class="float-start me-1 icon">
    <span>Tel: +886-4-2239-8056</span>
</div>
<div class="my-2" style="vertical-align: middle">
    <img src="assets/images/icon-fax.png" class="float-start me-1 icon">
    <span>Fax: +886-4-2239-5165</span>
</div>
<div class="my-2" style="vertical-align: middle">
    <img src="assets/images/icon-address.png" class="float-start me-1 icon">
    <span>Address: {{ 'CONTACT.ADDRESS' | translate }}</span>
</div>
