<nav class="navbar navbar-expand-lg navbar-light py-0">
    <button class="navbar-toggler my-2" data-bs-toggle="collapse" data-bs-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarText">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            <li 
                class="nav-item pt-1 pb-2" 
                *ngFor="let menu of menus"
                [ngClass]="
                    {selected: menu === selectedMenu
                        || (menu === 'Applications' && (
                            selectedMenu === 'paint-coating'
                            || selectedMenu === 'ink'
                            || selectedMenu === 'adhesive'
                            || selectedMenu === 'plastic'
                            || selectedMenu === 'lubricant'
                            )),
                    dropdown: menu === 'Applications'}"
                (click) = "menu !== 'Applications' && selectMenu(menu)"
                >
                <span
                    [attr.data-bs-toggle]="menu === 'Applications' ? 'dropdown' : null"
                    class="nav-link clickable black"
                    [ngClass]="{'dropdown-toggle': menu === 'Applications'}"
                    id="{{ menu }}Dropdown">{{ menu }}</span>
                <ul class="dropdown-menu" aria-labelledby="ApplicationsDropdown"
                    *ngIf="menu === 'Applications'">
                    <li><span class="dropdown-item clickable" (click) = "selectMenu('paint-coating')">{{ 'APPLICATIONS_MENU.1.NAME' | translate }}</span></li>
                    <li><span class="dropdown-item clickable" (click) = "selectMenu('ink')">{{ 'APPLICATIONS_MENU.2.NAME' | translate }}</span></li>
                    <li><span class="dropdown-item clickable" (click) = "selectMenu('adhesive')">{{ 'APPLICATIONS_MENU.3.NAME' | translate }}</span></li>
                    <li><span class="dropdown-item clickable" (click) = "selectMenu('plastic')">{{ 'APPLICATIONS_MENU.4.NAME' | translate }}</span></li>
                    <li><span class="dropdown-item clickable" (click) = "selectMenu('lubricant')">{{ 'APPLICATIONS_MENU.5.NAME' | translate }}</span></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>