<nav class="navbar navbar-expand-lg navbar-light py-0">
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarText">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            <li 
                class="nav-item pt-1 pb-2" 
                *ngFor="let menu of menus"
                [ngClass]="{selected: menu === selectedMenu}"
                (click) = "selectMenu(menu)"
                >
                <span class="nav-link clickable black">{{ menu }}</span>
            </li>
        </ul>
    </div>
</nav>