<nav class="navbar navbar-expand-lg navbar-light py-0">
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarText">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            <li 
                class="nav-item pt-1 pb-2" 
                *ngFor="let menu of menus"
                [ngClass]="
                    {selected: menu === selectedMenu,
                    dropdown: menu === 'Applications'}"
                (click) = "menu !== 'Applications' && selectMenu(menu)"
                >
                <span
                    [attr.data-bs-toggle]="menu === 'Applications' ? 'dropdown' : null"
                    class="nav-link clickable black"
                    [ngClass]="{'dropdown-toggle': menu === 'Applications'}"
                    id="{{ menu }}Dropdown">{{ menu }}</span>
                <ul class="dropdown-menu" aria-labelledby="ApplicationsDropdown"
                    *ngIf="menu === 'Applications'">
                    <li><span class="dropdown-item clickable" (click) = "selectMenu('paint-coating')">Paint & Coating</span></li>
                    <li><span class="dropdown-item clickable" href="#">Ink</span></li>
                    <li><span class="dropdown-item clickable" href="#">Adhesive</span></li>
                    <li><span class="dropdown-item clickable" href="#">Plastic</span></li>
                    <li><span class="dropdown-item clickable" href="#">Lubricant additives</span></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>