<img class="img-fluid w-100" src="assets/images/adhesive-page-top.png">
<div class="row">
    <div>
        <h4 class="mt-3">{{ "APPLICATIONS.3.NAME" | translate }}</h4>
        <div>
            <table class="table caption-top">
                <caption>{{ 'BINDER' | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">馬林酸樹脂</td>
                        <td class="col-6">醇溶型/苯溶型/基信</td>
                        <td class="col-3"></td>
                    </tr>
                    <tr>
                        <td>丙烯酸樹脂</td>
                        <td>固態顆粒/苯溶型/酯溶型/醇溶型</td>
                        <td>Pioneer</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption>{{ "ADDITIVES" | translate }}</caption>
                <tbody>
                    <tr>
                        <td class="col-3">止滑、耐刮、織紋</td>
                        <td class="col-6">微粉蠟</td>
                        <td class="col-3">Micro Powders</td>
                    </tr>
                    <tr>
                        <td rowspan="2">消光</td>
                        <td>消光粉 Acematt</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>微粉蠟</td>
                        <td>Micro Powders</td>
                    </tr>
                    <tr>
                        <td>防沉</td>
                        <td>二氧化矽 Aerosil</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td rowspan="3">密著促進劑</td>
                        <td>密著樹脂 Addbond</td>
                        <td>Evonik</td>
                    </tr>
                    <tr>
                        <td>鈦酸酯 Tyzor</td>
                        <td>Dorf-Ketal</td>
                    </tr>
                    <tr>
                        <td>矽烷偶合劑 Dynasylan</td>
                        <td>Evonik</td>
                    </tr>
                </tbody>
            </table>

            <table class="table caption-top">
                <caption>交鏈劑/擴鏈劑</caption>
                <tbody>
                    <tr>
                        <td class="col-3">Diamine</td>
                        <td class="col-6">Clearlink/Unilink</td>
                        <td class="col-3">Dorf-Ketal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>