/* You can add global styles to this file, and also import other style files */
.blue-purple-background:hover {
    background-color:#339;
    color: white;
}

.blue-purple-background {
    color: #339;
}

.blue-purple{
    color: #339 !important;
}

.red-purple{
    color: #c20044;
}

@font-face {
    font-family: 'Scala';
    src: 
        url('assets/fonts/ScalaWebPro.woff') format('woff'),
        url('assets/fonts/ScalaWebPro-Bold.woff') format('woff');
}

.container{
    font-family: "Scala",Helvetica,Arial,sans-serif;
}