<div class="row">
    <div class="col-5">
        <img class="img-fluid" [src]='imageSrc'>
    </div>
    <div class="col-7">
        <div class="mb-4">
            <h3>{{ 'COMPANY_VALUES.1.NAME' | translate }}</h3>
            <p>{{ 'COMPANY_VALUES.1.DESCRIPTION' | translate }}</p>
        </div>
        <div class="my-4">
            <h3>{{ 'COMPANY_VALUES.2.NAME' | translate }}</h3>
            <p>{{ 'COMPANY_VALUES.2.DESCRIPTION' | translate }}</p>
        </div>
        <div class="mt-4">
            <h3>{{ 'COMPANY_VALUES.3.NAME' | translate }}</h3>
            <p>{{ 'COMPANY_VALUES.3.DESCRIPTION' | translate }}</p>
        </div>
    </div>
</div>
